*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
    --dark-text-clr: #181818;
    --main-color-blue: #0084FD;
    --color-blue-hover: #0f5597;
    --desktop-max-width: 1140px;
    --tablet-max-width: 768px;
    --mobile-max-width: 500px;
    --card-gap: 1.5rem;
    --card-bkg-color: #b5ddff;
    --color-purple: #9792E4;

}

button {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    height: 80px;
    background-color: var(--main-color-blue);
    position: relative;
}

nav {
    height: 100%;
    max-width: var(--desktop-max-width);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 80;
    vertical-align: middle;
}

nav .menu-container {
    height: 100%;
    display: flex;
}

nav .menu-container .menu-item {
    height: 100%;
    cursor: pointer;
    padding: 0 2rem;
    transition: all 300ms;
}

nav .menu-container .menu-item .menu-link {
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    white-space: nowrap;
}

nav button {
    color: var(--dark-text-clr);
    background-color: white;
    border-radius: 100px;
    padding: 0.3rem 1rem;
    margin: 1.2rem 0 1.2rem 1rem;
    font-size: inherit;
    cursor: pointer;
    transition: all 300ms;
    white-space: nowrap;
}   

nav .menu-container .menu-item:hover {
    background-color: var(--color-blue-hover);
}

nav button:hover {
    background-color: var(--dark-text-clr);
    color: white;
}

/* nav .hamburger {
    display: block;
    cursor: pointer;
}

nav .hamburger .hamburger-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 300ms ease-in-out;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }
} */



/*
SECTION 1 - BLUE CARDS
*/

.blue-cards .container {
    max-width: var(--desktop-max-width);
    margin-inline: auto;
    padding-top: 3rem;
    padding-bottom: 5rem;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-gap);
}

.blue-cards .container .card {
    display: flex;
    gap: var(--card-gap);
    background-color: var(--card-bkg-color);
    color: var(--main-color-blue);
    border-radius: 20px;
    padding: 0 2rem;
}

.blue-cards .container .normal {
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 calc((100% - 2 * var(--card-gap)) / 3);
}

.blue-cards .container .large {
    flex: 0 0 calc(((100% - 2 * var(--card-gap)) / 3 * 2) + var(--card-gap));
}

.blue-cards .container .large .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.blue-cards .content .card-image {
    flex: 0 0 40%;
}

.blue-card .card-text {
    flex: 0 0 60%;
}

.blue-cards img {
    width: 100%;
    margin: 2rem 0 0;
    padding-right: 2rem;
}    

.blue-cards h2 {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.blue-cards p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
    color: var(--dark-text-clr);
}

.blue-cards button {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background-color: var(--main-color-blue);
    padding: 0.6em 2.5em;
    border-radius: 200px;
}

.blue-cards .card-icon {
font-size: 4rem;
margin-top: 1.5rem;
}



/*
SECTION 2 - PLANNING
*/

.planning .container {
background-color: var(--color-purple);
padding: 10rem 0 5rem;
}

.planning .cards {
    max-width: 875px;
    margin-inline: auto;
    display: flex;
    gap: calc(5 * var(--card-gap));
}

.planning .card {
    flex: 0 0 50%;
}

.planning .card img {
    width: 100%;
}

.planning .card.purple h2 {
    color: white;
    font-size: 2rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.planning .card.purple p {
    color: white;
    font-size: 1rem;
    line-height: 2rem;
}

.planning .card.white {
    background-color: white;
    border-radius: 50px;
    margin-top: 14rem;
    text-align: center;
    padding-inline: 3rem;
}

.planning .card.white img {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.planning .card.white h2 {
    margin-bottom: 1.5rem;
}

.planning .card.white p {
    font-size: 1rem;
    font-style: italic;
    line-height: 2rem;
}

.planning button {
    width: 3.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--color-purple);
    margin-top: 1.5rem;
}

.planning i {
    font-size: 1.5rem;
}