*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    --dark-text-clr: #181818;
    --main-color-blue: #0084FD;
    --color-blue-hover: #0f5597;
    --desktop-max-width: 1140px;
    --tablet-max-width: 768px;
    --mobile-max-width: 480px;
    --card-gap: 1.5rem;
    --card-bkg-color: #b5ddff;
    --color-purple: #9792E4;
    --header-height: 80px;
}

button {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 1rem;
    font-family: inherit;
    font-size: inherit;
}

header {
    height: var(--header-height);
    width: 100%;
    background-color: var(--main-color-blue);
}

nav {
    height: 100%;
    max-width: var(--desktop-max-width);
    margin-inline: auto;
    padding-inline: 0.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 300ms;
}

.logo {
    display: block;
    width: 80px;
}

nav .menu-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    align-items: center;
    z-index: 1;
    transition: 500ms;
}

nav .menu .menu-item {
    height: 100%;
    cursor: pointer;
    padding-left: 2rem;
    transition: all 300ms;
}

nav .menu-container .menu-item a {
    line-height: 3;
    padding: 2rem 0.5rem;
    display: block;
    color: white;
    white-space: nowrap;
    transition: 300ms;
}

nav .menu-container .menu-item .menu-button {
    color: var(--dark-text-clr);
    background-color: white;
    border-radius: 100px;
    padding: 0em 1em;
    cursor: pointer;
    transition: all 300ms;
    white-space: nowrap;
}   

nav .menu-container .menu-item a:hover {
    box-shadow: 0 0px 20px #ffffff inset;
    text-decoration: underline;
}

nav .menu-container .menu-item .menu-button:hover {
    background-color: var(--dark-text-clr);
    color: white;
}


/*
Hamburger checkbox styling
*/

nav .menu-container .hamburger {
    position: relative;
    width: 1.8rem;
    height: 0.16rem;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 300ms;
}

nav .menu-container .hamburger::before,
nav .menu-container .hamburger::after {
    content: "";
    position: absolute;
    right: 0;
    height: 0.16rem;
    background-color: #ffffff;
    border-radius: 10px;
    transition: 300ms;
}

nav .menu-container .hamburger::before {
    top: -0.7rem;
    width: 1.8rem;
}

nav .menu-container .hamburger::after {
    top: 0.7rem;
    width: 1.8rem;
}

nav .menu-container .check-hamburger {
    position: absolute;
    width: 1.8rem;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

nav .menu-container .hamburger,
nav .menu-container .check-hamburger {
    display: none;
}

nav .menu-container input:checked ~ .hamburger {
    background-color: transparent;
}

nav .menu-container input:checked ~ .hamburger::before {
    top: 0;
    transform: rotate(-45deg);
}

nav .menu-container input:checked ~ .hamburger::after {
    top: 0;
    transform: rotate(45deg);
}

nav .menu-container input:checked ~ ul.menu {
    right: 0;
}




/*
SECTION 1 - BLUE CARDS
*/

.blue-cards .container {
    max-width: var(--desktop-max-width);
    margin-inline: auto;
    padding-top: 3rem;
    padding-bottom: 5rem;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-gap);
}

.blue-cards .container .card {
    display: flex;
    gap: var(--card-gap);
    background-color: var(--card-bkg-color);
    color: var(--main-color-blue);
    border-radius: 20px;
    padding: 0 2rem;
}

.blue-cards .container .normal {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc((100% - 2 * var(--card-gap)) / 3);
}

.blue-cards .container .large {
    width: calc(((100% - 2 * var(--card-gap)) / 3 * 2) + var(--card-gap));
}

.blue-cards .container .large .content {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.blue-cards .content .card-text {
    flex: 0 0 50%;
    align-self: center;
    margin-left: 3rem;
}

.blue-cards .content .card-image {
    flex: 0 0 50%;
    align-self: flex-end;
}    

.blue-cards img {
    display: block;
    min-width: 0;
    max-width: 65%;
    align-self: flex-end;
    margin-left: 1.5rem;
}    

.blue-cards h2 {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.blue-cards p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
    color: var(--dark-text-clr);
}

.blue-cards button {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background-color: var(--main-color-blue);
    padding: 0.6em 2.5em;
    border-radius: 200px;
}

.blue-cards .card-icon {
font-size: 3.5rem;
margin-top: 1.5rem;
}



/*
SECTION 2 - PLANNING
*/

#planning .container {
background-color: var(--color-purple);
padding: 10rem 0 5rem;
}

#planning .cards {
    max-width: var(--desktop-max-width);
    margin-inline: auto;
    padding-inline: 8.5rem;
    display: flex;
    gap: calc(3 * var(--card-gap));
}

#planning .card {
    flex: 0 0 calc(50% - 1.5 * var(--card-gap));
}

#planning .card img {
    width: 100%;
}

#planning .card.purple h2 {
    color: white;
    font-size: 2rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

#planning .card.purple p {
    color: white;
    font-size: 1rem;
    line-height: 2rem;
}

#planning .card.white {
    background-color: white;
    border-radius: 50px;
    margin-top: 10rem;
    text-align: center;
    padding-inline: 3rem;
}

#planning .card.white img {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#planning .card.white h2 {
    margin-bottom: 1.5rem;
}

#planning .card.white p {
    font-size: 1rem;
    font-style: italic;
    line-height: 2rem;
}

#planning button {
    width: 3.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--color-purple);
    margin-top: 1.5rem;
}

#planning i {
    font-size: 1.5rem;
}


/*
SECTION 3 - TESTIMONIALS
*/

#testimonials {
    max-width: var(--desktop-max-width);
    margin-inline: auto;
    padding: 4rem 0;
}

#testimonials .intro {
    text-align: center;
}

#testimonials .intro div {
    text-transform: uppercase;
    color: var(--dark-text-clr);
    margin-bottom: 2.5rem;
}

#testimonials .intro h2 {
    color: var(--color-purple);
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

#testimonials .intro p {
    color: var(--dark-text-clr);
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 2.5rem;
}

#testimonials .card {
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: var(--color-purple);
    padding: 2rem;
    border-radius: 30px;
    margin-bottom: 2rem;
    color: white;
}

#testimonials .card .photo {
    width: 12rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #9792E4;
    overflow: hidden;
    flex-shrink: 0;
}

#testimonials .card .photo img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#testimonials .card p {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
}

#testimonials .card p::before {
    font-family: Georgia, serif;
    font-size: 2.5rem;
    content: open-quote;
    vertical-align: middle;
}

#testimonials .card p::after {
    font-family: Georgia, serif;
    font-size: 2.5rem;
    content: close-quote;
    vertical-align: middle;
}

#testimonials .card .name {
    text-transform: uppercase;
    font-weight: 600;
}


/*
SECTION 4 - BENEFITS
*/

#benefits {
    background-color: var(--color-purple);
    padding: 4rem 0;
}

#benefits h2 {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 4rem;
}

#benefits .container {
    max-width: var(--desktop-max-width);
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--card-gap);
    color: var(--color-purple);
}

#benefits .card {
    background-color: white;
    flex: 0 0 calc((100% - 2 * var(--card-gap)) / 3);
    border-radius: 20px;
    padding: 1.5rem;
}

#benefits .card .number {
    font-size: 5rem;
    margin-bottom: 1rem;
}

#benefits .card .card-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

#benefits .card p {
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
}

#benefits .card button {
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: .2em;
    margin-bottom: 1.5rem;
    color: white;
    background-color: var(--color-purple);
    padding: .75rem 2.5rem;
    border-radius: 50px;
}



/*
SECTION 5 - ABOUT US
*/

#about-us {
    padding: 5rem 0;
}

#about-us .container {
    max-width: var(--desktop-max-width);
    padding-inline: 1rem;
    display: flex;
    gap: calc(2 * var(--card-gap));
    margin-inline: auto;
}

#about-us .about-text {
    max-width: calc(60% - var(--card-gap))
}

#about-us .about-card {
    max-width: calc(40% - var(--card-gap))
}

#about-us .about-text h2 {
    font-size: 4rem;
    color: var(--color-purple);
    margin-bottom: 2rem;
}

#about-us .about-text p {
    font-size: 1.2rem;
    color: var(--dark-text-clr);
    margin-bottom: 2rem;
    line-height: 3rem;
}

#about-us .about-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#about-us .about-card .img-container {
    max-width: 15rem;
    max-height: 15rem;
    aspect-ratio: 1 / 1;
    margin-bottom: 2rem;
    position: relative;
}

#about-us .about-card img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

#about-us .quote {
    position: absolute;
    top: 0px;
    right: -30px;
    font-size: 15rem;
    font-family: Georgia, serif;
    color: var(--color-purple);
}

#about-us .about-card h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--color-purple);
    margin-bottom: 2rem;
}

#about-us .about-card button {
    width: min-content;
    white-space: nowrap;
    font-size: 0.9rem;
    color: white;
    background-color: var(--color-purple);
    padding: .75em 1.5em;
    border-radius: 50px;
}


/*
SECTION 6 - GET STARTED
*/

#get-started {
    padding: 5rem 0;
    background-color: var(--color-purple);
    text-align: center;
    color: white;
}

#get-started .container {
    max-width: 600px;
    margin-inline: auto;
}

#get-started .title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

#get-started h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

#get-started h2 {
    font-size: 4rem;
    color: #FDC15F;
    margin-bottom: 3rem;
}

#get-started p {
    max-width: 500px;
    margin-inline: auto;
    font-size: 1rem;
    line-height: 1.75;
    margin-bottom: 2rem;
}

#get-started button {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-purple);
    background-color: white;
    padding: 1em 2.5em;
    border-radius: 100px;
    margin-bottom: 2rem;
}

#get-started .copyright {
    font-size: 1rem;
}

#get-started .copyright .privacy {
    font-size: 1rem;
    color: white;
    text-decoration: underline;
}



/*
7 - FOOTER
*/

footer {
    background-color: var(--dark-text-clr);
    padding: 3rem 0;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
}

footer .container {
    max-width: 500px;
    margin-inline: auto;
}
footer p,
footer a {
    line-height: 1.5;
    margin-bottom: 4rem;
}



/*
MEDIA QUERY FOR TABLET WIDTH
*/

@media screen and (max-width: 768px) {

    /* HEADER AND NAVBAR */
    nav .menu-container .hamburger,
    nav .menu-container .check-hamburger {
        display: block;
    }

    nav {
        padding-inline: 1rem;
    }

    nav .menu {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: var(--header-height);
        right: -15rem;
        background-color: var(--main-color-blue);
        width: 15rem;
        padding-bottom: 2rem;
    }

    nav .menu .menu-item {
        width: 100%;
        padding: 0 1rem;
        text-align: center;
    }

    nav .menu .menu-item a{
        padding: 1rem 0;
    }

    nav .menu .menu-button {
        margin: 2.5rem 2rem 0;
    }

    /* SECTION 1 - BLUE CARDS */

    .blue-cards .container {
        max-width: var(--tablet-max-width);
        padding-inline: 1rem;
    }

    .blue-cards .container .large .content {
        display: block;
        padding-top: 2rem;
    }

    .blue-cards .content .card-text {
        margin-left: 1rem;
    }

    .blue-cards img {
        display: block;
        min-width: 0;
        max-width: 65%;
        margin: 2rem auto 0;
    }    

        /* SECTION 2 - PLANNING */

    #planning .cards {
        max-width: var(--tablet-max-width);
        margin-inline: auto;
        display: block;
    }

    #planning .card img {
        min-width: 0;
    }

    #planning .card.purple h2 {
        color: white;
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #planning .card.white {
        background-color: white;
        border-radius: 50px;
        margin-top: 5rem;
        text-align: center;
        padding: 2rem;
    }

    #planning .card.white img {
        width: 90%;
        margin-bottom: 1rem;
    }

        /* SECTION 3 - TESTIMONIALS */

    #testimonials {
    max-width: var(--tablet-max-width);
    margin-inline: auto;
    padding: 4rem 1rem;
    }


    /*
    SECTION 4 - BENEFITS
    */

    #benefits h2 {
        font-size: 2.5rem;
        margin-inline: 2rem;
    }

    #benefits .container {
        max-width: var(--tablet-max-width);
        margin-inline: auto;
        padding-inline: 1rem;
        align-content: center;
    }

    #benefits .card {
        flex: 0 0 calc((100% - var(--card-gap)) / 2);
    }


    /*
    SECTION 5 - ABOUT US
    */

    #about-us .container {
        max-width: var(--tablet-max-width);
        margin-inline: auto;
        padding-inline: 2rem;
        gap: calc(2 * var(--card-gap));
    }

    #about-us .about-text {
        max-width: 60%;
    }

    #about-us .about-card {
        max-width: 40%;
    }

    #about-us .about-text h2 {
        font-size: 3rem;
    }

    #about-us .about-text p {
        font-size: 1rem;
        margin-bottom: 2rem;
        line-height: 2rem;
    }
    #about-us .about-card h3 {
        font-size: 1.7rem;
        line-height: 2.5rem;
        margin-right: 1rem;
        color: var(--color-purple);
        margin-bottom: 2rem;
    }

    #about-us .about-card .quote {
        font-size: 10rem;
        top: -5px;
        right: -5px;
    }
}



/*
MEDIA QUERY FOR MOBILE WIDTH
*/

@media screen and (max-width: 480px) {

    /* SECTION 1 - BLUE CARDS */

    .blue-cards .container {
        max-width: var(--mobile-max-width);
    }

    .blue-cards .container .normal,
    .blue-cards .container .large {
        display: block;
        width: 100%;
        text-align: center;
    }

    .blue-cards img {
        display: block;
        width: 70%;
        margin-inline: auto;
    }    

    .blue-cards h2 {
        font-size: 1.3rem;
    }

    .blue-cards .card-icon {
        margin-bottom: 1.5rem;
    }



    /*
    SECTION 2 - PLANNING
    */

    #planning .container {
        max-width: var(--mobile-max-width);
        margin-inline: auto;
        padding: 3rem 1rem;
    }

    #planning .cards {
        display: block;
        margin: 0;
        padding: 1.5rem;
    }

    #planning .card img {
        min-width: 0;
    }

    #planning .card.purple h2 {
        color: white;
        font-size: 2.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #planning .card p {
        line-height: 1.7;
    }

    #planning .card.white {
        background-color: white;
        border-radius: 50px;
        margin-top: 3rem;
        text-align: center;
    }

    #planning .card.white img {
        width: 90%;
        margin-bottom: 1rem;
    }


    /*
    SECTION 3 - TESTIMONIALS
    */

    #testimonials {
        max-width: var(--mobile-max-width);
        margin-inline: auto;
        padding-inline: 1rem;
    }

    #testimonials .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    #testimonials .card p {
        font-size: 1rem;
        line-height: 1.75rem;
        margin-bottom: 1.5rem;
    }

    #testimonials .card p::before,
    #testimonials .card p::after {
        font-size: 2.2rem;
    }


    /*
    SECTION 4 - BENEFITS
    */

    #benefits h2 {
        max-width: var(--mobile-max-width);
        margin-inline: auto;
        padding-inline: 2rem;
        font-size: 2.2rem;
    }

    #benefits .container {
        max-width: var(--mobile-max-width);
        padding-inline: 1rem;
        display: block;
    }

    #benefits .card {
        margin-bottom: 1.5rem;
    }



    /*
    SECTION 5 - ABOUT US
    */

    #about-us .container {
        max-width: var(--mobile-max-width);
        margin-inline: auto;
        padding-inline: 1rem;
        display: block;
    }

    #about-us .about-text h2 {
        font-size: 3rem;
    }

    #about-us .about-text p {
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }

    #about-us .about-card .img-container {
        width: 10rem;
        height: 10rem;
    }

    #about-us .about-card .quote {
        font-size: 9rem;
        top: -10px;
        right: -15px;
    }

    #about-us .about-card h3 {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    #about-us .about-card button {
        font-size: .8rem;
    }


    /*
    SECTION 6 - GET STARTED
    */

    #get-started .container {
        max-width: var(--mobile-max-width);
        margin-inline: auto;
        padding-inline: 1rem;
    }

    #get-started .title {
        font-size: 1rem;
    }

    #get-started h3 {
        font-size: 1.75rem;
    }

    #get-started h2 {
        font-size: 3.25rem;
    }

    #get-started .copyright {
        font-size: .9rem;
    }

    #get-started .copyright .privacy {
        font-size: .9rem;
    }



    /*
    7 - FOOTER
    */

    footer {
        font-size: 0.9rem;
        font-weight: 300;
    }

    footer .container {
        max-width: var(--mobile-max-width);
        margin-inline: auto;
        padding-inline: 1rem;
    }
}